
.b-lazy {
  opacity: 0;
  transition: opacity 0.5s ease-out 0.65s;
}

.b-loaded {
  opacity: 1;
  transform: none;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-4%, 0, 0);
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
  animation-timing-function: ease-out;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(5%, 0, 0);
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeInRight {
  animation-name: fadeInRight;
  animation-timing-function: ease-out;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 15%, 0);
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-timing-function: ease-out;
  animation-delay: 0.1s;
  animation-duration: 0.75s;
  animation-fill-mode: both;
}