@import 'aos/dist/aos.css';

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.b-lazy {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.b-loaded {
  opacity: 1;
  transform: none;
}