/*
  Fonts Reference
  -----
  Note: For some reason, the Black & Ultra font-weights are swapped.

  Uniform 300 (Light  )
  Uniform 400 (Regular)
  Uniform 500 (Medium )
  Uniform 600 (Bold   )
  Uniform 900 (Black  )
  Uniform 800 (Ultra  )
  Uniform Condensed 300 (Light  )
  Uniform Condensed 400 (Regular)
  Uniform Condensed 500 (Medium )
  Uniform Condensed 600 (Bold   )
  Uniform Condensed 900 (Black  )
  Uniform Condensed 800 (Ultra  )
  Uniform Extra Condensed 300 (Light  )
  Uniform Extra Condensed 400 (Regular)
  Uniform Extra Condensed 500 (Medium )
  Uniform Extra Condensed 600 (Bold   )
  Uniform Extra Condensed 900 (Black  )
  Uniform Extra Condensed 800 (Ultra  )
*/

.gridfolio--block .gridfolio--block-content {
  background-size: cover;
  overflow: hidden;
}

.gridfolio--block.black .gridfolio--block-content {
  background-color: $black;
  color: $white;
}

.gridfolio--block.white .gridfolio--block-content {
  background-color: $white;
  color: $black;

  & .gridfolio--block-title {
    color: $black;
  }
}

.gridfolio--block.chaminade-email .gridfolio--block-content {
  background-image: url("../img/work/chaminade.png");
}

.gridfolio--block.natsci-poster .gridfolio--block-content {
  background-image: url("../img/work/natsci_poster.png");
}

.gridfolio--block.natsci-report .gridfolio--block-content {
  background-image: url("../img/work/natsci_report.png");
}

.gridfolio--block.astronomy .gridfolio--block-content {
  background-image: url("../img/work/astronomy.png");
}

.gridfolio--block.ombudsman .gridfolio--block-content {
  background-image: url("../img/work/ombudsman.png");
}

.gridfolio--block.aloha-street .gridfolio--block-content {
  background-image: url("../img/work/alohastreet.png");
}

.gridfolio--block.mwr .gridfolio--block-content {
  background-image: url("../img/work/mwr.png");
}

.gridfolio--block.ilikai .gridfolio--block-content {
  background-image: url("../img/work/ilikai.png");
}

.gridfolio--block.honors .gridfolio--block-content {
  background-image: url("../img/work/honors.png");
}

.gridfolio--block.followgraphic .gridfolio--block-content {
  background-image: url("../img/work/followgraphic.png");
}

.gridfolio--block.logos .gridfolio--block-content {
  background-image: url("../img/work/logos.png");
}

.gridfolio--block.ambient .gridfolio--block-content {
  background-image: url("../img/work/ambient.png");
}

.gridfolio--block.tedx .gridfolio--block-content {
  background-image: url("../img/work/tedx.png");
}

.gridfolio--block.hawaiibiz .gridfolio--block-content {
  background-image: url("../img/work/hawaiibiz.png");
}

.gridfolio--block.blue .gridfolio--block-content {
  background-color: $blue;
  color: $turquoise;
}

.gridfolio--block.red .gridfolio--block-content {
  background-color: $red;
  color: $beige;
}

.gridfolio--block.orange .gridfolio--block-content {
  background-color: $orange;
  color: $black;
}

.gridfolio--block.yellow .gridfolio--block-content {
  background-color: $yellow;
  color: $black;
}

.gridfolio--block.beige .gridfolio--block-content {
  background-color: $beige;
  color: $black;

  & .gridfolio--block-title {
    color: $darkgrey;
  }
}

.project--content {
  display: flex;
  height: 100vh;
}

.project--writeup, .project--images {
  display: flex;
  flex-direction: column;
}

.project--writeup {
  padding: 60px;
  text-align: left;
  width: calc(100% / 3 * 1);

  & p {
    font-family: $arial-sans;
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
  }

  & h1,h2,h3,h4,h5 {
    word-break: keep-all;
    font-family: $header-serif;
    margin-top: 1.5rem;
    margin-bottom: 0;
    line-height: 1.5rem;
    font-weight: 400;
  }
  & h1 {
    font-size: calc(1rem + 3vw);
    line-height: calc(1rem + 3vw);
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  & h2 {
    font-size: 2.828rem;
    line-height: 3rem;
    margin-top: 3rem;
  }
  & h3 {
    font-size: 1.414rem;
  }
  & h4 {
    font-size: 0.707rem;
  }
  & h5 {
    font-size: 0.6rem;
  }
  & h6 {
    font-family: UniformMedium-Regular, Arial, sans-serif;
    font-weight: 800;
    font-size: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 0;
    line-height: 1.25rem;
  }
}

.project--images {
  overflow: hidden;
  background-color: #eee;
  width: calc(100% / 3 * 2);
}

.project--images img {
  filter: drop-shadow(2px 4px 3px #333);
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.gridfolio[data-theme="baris"] .gridfolio--block-content {
  padding: 30px;
}

.gridfolio[data-theme="baris"] .gridfolio--block-title-wrapper {
  margin-bottom: 20px;
}

.gridfolio[data-theme="baris"] .gridfolio--block-title {
  color: $white;
  font-size: 20px;
  font-family: $header-serif;
  font-weight: 400;
  font-style: normal;
  word-wrap: break-word;
  word-break: keep-all;
}

.gridfolio[data-theme="baris"] .gridfolio--block-title .condensed {
  font-size: 16px;
}

.gridfolio[data-theme="baris"] .gridfolio--block-content:hover .gridfolio--block-title {
  color: $turquoise;
}

.gridfolio[data-theme="baris"] .headline .gridfolio--block-content:hover .gridfolio--block-title {
  color: inherit;
}

.gridfolio[data-theme="baris"] .gridfolio--block-description-wrapper {
  font-size: 16px;
}

.gridfolio[data-theme="baris"] .gridfolio--block-description {
  font-weight: 400;
  font-family: UniformCondensedLight-Regular;
  letter-spacing: 0.03em;
  line-height: 1.5;
}

.gridfolio[data-theme="baris"] .gridfolio--block-tags-wrapper {
  font-size: 7px;
  letter-spacing: 0.2em;
  text-align: right;
}

.gridfolio[data-theme="baris"] .gridfolio--block-tags span {
  font-weight: 600;
  background-color: transparent;
  /*border-bottom: 2px solid #fff;*/
}

.baseline-icon {
  position: relative;
  top: 3px;
  height: 1em;
}

p.condensed {
  font-size: 75%;
}

@media (min-width: 500px) {
  .gridfolio[data-theme="baris"] .gridfolio--block-title-wrapper {
    font-size: 30px;
  }
}

@media (min-width: 900px) {
  .gridfolio[data-theme="baris"] .gridfolio--block-title-wrapper {
    font-size: 28px;
  }
}

@media (max-width: 1400px) {
  .project--content {
    display: block;
  }
  .project--writeup {
    display: block;
    width: 100vw;
  }
  .project--images {
    display: block;
    padding: 90px 20px;
    width: 100vw;
    text-align: center;
  }
  .project--images img {
    position: relative;
    width: 70vw;
    height: auto;
  }
  .project--writeup h1 {
    font-size: calc(3rem + 2vw);
    line-height: calc(3rem + 2vw);
  }
}
