/*
  Fonts Reference
  -----
  Note: For some reason, the Black & Ultra font-weights are swapped.

  Uniform 300 (Light  )
  Uniform 400 (Regular)
  Uniform 500 (Medium )
  Uniform 600 (Bold   )
  Uniform 900 (Black  )
  Uniform 800 (Ultra  )
  Uniform Condensed 300 (Light  )
  Uniform Condensed 400 (Regular)
  Uniform Condensed 500 (Medium )
  Uniform Condensed 600 (Bold   )
  Uniform Condensed 900 (Black  )
  Uniform Condensed 800 (Ultra  )
  Uniform Extra Condensed 300 (Light  )
  Uniform Extra Condensed 400 (Regular)
  Uniform Extra Condensed 500 (Medium )
  Uniform Extra Condensed 600 (Bold   )
  Uniform Extra Condensed 900 (Black  )
  Uniform Extra Condensed 800 (Ultra  )
*/

html {
  font-size: 16px;
  text-rendering: geometricPrecision;
}

a:hover,a:visited,a:link,a:visited {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}

.gridfolio {
  background-image: url(../img/asanoha-400px.jpg);
}

.gridfolio--block .gridfolio--block-content {
  background-size: cover;
  overflow: hidden;
  transition: all 0.5s ease;

  &:hover {
    box-shadow: inset 0 0 0 calc(0.75rem + 0.05vw) #52D1DC;
    transform: none;
  }
}

.gridfolio--block.black .gridfolio--block-content {
  background-color: $black;
  color: $white;
}

.gridfolio--block.white .gridfolio--block-content {
  background-color: $white;
  color: $black;
  transition: none;

  &:hover {
    box-shadow: none;
    transform: none;
  }

  & .gridfolio--block-title {
    color: $black;
  }
}

.gridfolio--block.chaminade-email .gridfolio--block-content {
  background-image: url("../img/work/chaminade.png");
}

.gridfolio--block.natsci-poster .gridfolio--block-content {
  background-image: url("../img/work/natsci_poster.png");
}

.gridfolio--block.natsci-report .gridfolio--block-content {
  background-image: url("../img/work/natsci_report.png");
}

.gridfolio--block.astronomy .gridfolio--block-content {
  background-image: url("../img/work/astronomy.png");
}

.gridfolio--block.ombudsman .gridfolio--block-content {
  background-image: url("../img/work/ombudsman.png");
}

.gridfolio--block.aloha-street .gridfolio--block-content {
  background-image: url("../img/work/alohastreet.png");
}

.gridfolio--block.mwr .gridfolio--block-content {
  background-image: url("../img/work/mwr.png");
}

.gridfolio--block.ilikai .gridfolio--block-content {
  background-image: url("../img/work/ilikai.png");
}

.gridfolio--block.honors .gridfolio--block-content {
  background-image: url("../img/work/honors.png");
}

.gridfolio--block.followgraphic .gridfolio--block-content {
  background-image: url("../img/work/followgraphic.png");
}

.gridfolio--block.logos .gridfolio--block-content {
  background-image: url("../img/work/logos.png");
}

.gridfolio--block.ambient .gridfolio--block-content {
  background-image: url("../img/work/ambient.png");
}

.gridfolio--block.tedx .gridfolio--block-content {
  background-image: url("../img/work/tedx.png");
}

.gridfolio--block.hawaiibiz .gridfolio--block-content {
  background-image: url("../img/work/hawaiibiz.png");
}

.gridfolio--block.hackathons .gridfolio--block-content {
  background-image: url("../img/work/hackathons.png");
}

.gridfolio--block.blue .gridfolio--block-content {
  background-color: $blue;
  color: $turquoise;
}

.gridfolio--block.red .gridfolio--block-content {
  background-color: $red;
  color: $beige;
}

.gridfolio--block.orange .gridfolio--block-content {
  background-color: $orange;
  color: $black;
}

.gridfolio--block.yellow .gridfolio--block-content {
  background-color: $yellow;
  color: $black;
}

.gridfolio--block.beige .gridfolio--block-content {
  background-color: $beige;
  color: $black;

  & .gridfolio--block-title {
    color: $darkgrey;
  }
}

.project--content {
  display: block;
}

.project--writeup, .project--images {
  display: block;
}

.project--writeup {
  width: 100vw;
  height: auto;
  padding: 20px;
  text-align: left;
  
  & p {
    font-family: $source-serif;
    line-height: responsive 1.5rem 2rem;
    font-size: responsive 1rem 1.25rem;
    font-range: 400px 1200px;
    margin-top: 2rem;
    margin-bottom: 0;
  }

  & h1,h2,h3,h4,h5 {
    word-break: keep-all;
    font-family: $playfair-serif;
    margin-top: 1.5rem;
    line-height: 1.5rem;
    font-weight: 400;
  }
  & h1 {
    font-size: responsive 3.75rem 4.5rem;
    line-height: responsive 3.75rem 4.75rem;
    font-range: 400px 1600px;
    font-weight: 900;
    margin: 1.5rem 0;
  }
  & h2 {
    font-size: responsive 2.828rem 3.5rem;
    line-height: responsive 3rem 3.75rem;
    margin-top: 0.25rem;
  }
  & h3 {
    font-size: 1.414rem;
  }
  & h4 {
    font-size: 0.707rem;
  }
  & h5 {
    font-size: 0.6rem;
  }
  & h6 {
    font-size: 0.5rem;
  }
}

p.tech {
  font-family: $uniform-boldsans;
  font-size: responsive 0.8rem 1rem;
  line-height: responsive 1.4rem 1.8rem;
  font-range: 400px 1200px;
}

a.back {
  display: inline-block;
  margin-top: 2rem;
  & svg {
    width: 40px;
    height: 40px;
  }
}

.project--images {
  display: block;
  overflow: hidden;
  padding: 5px;
  width: 100vw;
  text-align: center;
  background-color: #eee;
}

.project--images img {
  position: relative;
  width: 90vw;
  height: auto;
}

.gridfolio[data-theme="baris"] .gridfolio--block-content {
  padding: 30px;
}

.gridfolio[data-theme="baris"] .gridfolio--block-title-wrapper {
  margin-bottom: calc(1em + 0.5vw);
}

.gridfolio[data-theme="baris"] .gridfolio--block-title {
  color: $white;
  font-family: $playfair-serif;
  font-weight: 900;
  font-style: normal;
  word-wrap: break-word;
  word-break: keep-all;
  margin-bottom: 0;
  transition: color 0.5s ease-out;
}

.gridfolio[data-theme="baris"] .gridfolio--block-content:hover .gridfolio--block-title {
  color: $turquoise;
}

.gridfolio[data-theme="baris"] .headline .gridfolio--block-content:hover .gridfolio--block-title {
  color: inherit;
}

.gridfolio[data-theme="baris"] .gridfolio--block-description {
  font-weight: 400;
  font-family: $source-sans;
  letter-spacing: 0.1px;
}

.gridfolio[data-theme="baris"] .gridfolio--block-tags-wrapper {
  text-align: left;
}

.gridfolio[data-theme="baris"] .gridfolio--block-tags span {
  letter-spacing: 1px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  background-color: transparent;
  margin: 0; padding: 0;
  padding-right: 10px;
}

.condensetext {
  font-size: 90%;
}

.copyright {
  color: #cdcdcd;
}

@media (min-width: 500px) {
  .project--writeup {
    padding: 60px;
  }
}

@media (min-width: 1200px) {
  .project--content {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    align-items: stretch;
  }
  .project--writeup, .project--images {
    display: flex;
    flex-direction: column;
  }
  .project--writeup {
    width: 37.5vw;
  }
  .project--images {
    width: 62.5vw;
    padding: 3vw;
  }
  .project--images img {
    filter: drop-shadow(2px 4px 3px #333);
    width: 100vw;
    object-fit: cover;
  }
  a.back {
    margin-bottom: 5rem;
  }
}

@media (min-width: 2000px) {
  .project--writeup h3 {
    font-size: calc(1rem + 1vw);
    line-height: calc(1rem + 2vw);
  }
  .project--writeup p {
    font-size: calc(1rem + 0.5vw);
    line-height: calc(1rem + 1vw);
  }
  .project--writeup p.tech {
    font-size: 1.1rem;
    line-height: 2rem;
  }
}
