/*
  Fonts
  -----
  Note: For some reason, the Black & Ultra font-weights are swapped.

  Uniform 300 (Light  )
  Uniform 400 (Regular)
  Uniform 500 (Medium )
  Uniform 600 (Bold   )
  Uniform 900 (Black  )
  Uniform 800 (Ultra  )
  Uniform Condensed 300 (Light  )
  Uniform Condensed 400 (Regular)
  Uniform Condensed 500 (Medium )
  Uniform Condensed 600 (Bold   )
  Uniform Condensed 900 (Black  )
  Uniform Condensed 800 (Ultra  )
  Uniform Extra Condensed 300 (Light  )
  Uniform Extra Condensed 400 (Regular)
  Uniform Extra Condensed 500 (Medium )
  Uniform Extra Condensed 600 (Bold   )
  Uniform Extra Condensed 900 (Black  )
  Uniform Extra Condensed 800 (Ultra  )
*/

h1.title {
  font-family: UniformBold-Regular;
  color: #000;
  font-weight: 800;
  font-style: normal;
  font-size: responsive 100px 160px;
  font-range: 500px 1280px;
  word-wrap: break-word;
}