footer {
  lost-utility: clearfix;
  font-family: $uniform-sans;
  color: #000;
  font-weight: 800;
  font-style: normal;
  margin: 0;
  padding: 40px;
  background-image: url('../img/asanoha-400px.jpg');
}

.footer__contact:hover {
  color: $yellow;
}

footer div {
  lost-column: 1/2;
}

.footer__social-media {
  text-align: right;
}

.footer__copyright {
  height: 60px;
  width: 100%;
  text-align: left;
  font-size: 10px;
  color: #bbb;
}

ul.social-media__list li.social-media__item {
  display: inline-block;
  text-align: center;
  margin-left: 2vw;
  margin-right: 2vw;
  width: calc(20px + 3.5vw);
  height: calc(20px + 3.5vw);
}

ul.social-media__list li.social-media__item svg:hover {
  fill: $yellow;
}

ul.social-media__list li.social-media__item:last-of-type {
  margin-right: 0;
}

@media (max-width: 800px) {

  .footer__contact {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    text-align: center;
  }

  .footer__social-media {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    text-align: center;
  }

  .footer__copyright {
    diplay: block;
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    text-align: center;
  }
}

