footer(data-aos="fade-up" data-aos-once="true")
  .footer__contact
    a.contact__link(href="mailto:brad@nomadspaceship.com?subject=Hi Brad!") 
      h3 Looking for a designer/developer? Hire Me!
  .footer__social-media
    ul.social-media__list
      li.social-media__item
        a(href="https://twitter.com/bradbaris" target="_blank")
          include ../../assets/img/icons/twitter.svg
      li.social-media__item
        a(href="https://github.com/bradbaris" target="_blank")
          include ../../assets/img/icons/github.svg
      li.social-media__item
        a(href="https://linkedin.com/in/bradbaris" target="_blank")
          include ../../assets/img/icons/linkedin.svg
      li.social-media__item
        a(href="https://bradbaris.com/resume" target="_blank")
          include ../../assets/img/icons/cv.svg
  .footer__copyright
    p &copy; 2017 Brad Baris. All rights reserved. Code opensourced under the MIT License.
