footer
  //- .footer__contact
  //-   h3 #[a.contact__link(href="mailto:brad@nomadspaceship.com?subject=Hi Brad!") Looking for a designer/developer? Hire&nbsp;Me!]
  .footer__social-media
    ul.social-media__list
      //- li.social-media__item
      //-   a(href="https://twitter.com/bradbaris" target="_blank" rel="noopener noreferrer")
      //-     include ../img/icons/twitter.svg
      //- li.social-media__item
      //-   a(href="https://github.com/bradbaris" target="_blank" rel="noopener noreferrer")
      //-     include ../img/icons/github.svg
      //- li.social-media__item
      //-   a(href="https://linkedin.com/in/bradbaris" target="_blank" rel="noopener noreferrer")
      //-     include ../img/icons/linkedin.svg
      //- li.social-media__item
      //-   a(href="https://bradbaris.com/resume" target="_blank" rel="noopener noreferrer")
      //-     include ../img/icons/cv.svg
      li#solo.social-media__item
        a(href="https://bradbaris.com/")
          include ../img/icons/back-arrow.svg

  //- .footer__copyright
  //-   p &copy; 2017 Brad Baris. All copyrights belong to their respective owners.

