extends _template

block pageSpecificVars
  - var pageTitle = "Aloha Street"

block content
  article.project--content
    section.project--writeup(data-aos="fade-right" data-aos-once="true")
      h1.text-red Aloha Street
      h3 2010
      p One of the largest projects I've ever handled to date. Aloha Street was a Japanese tourist ad quarterly looking to migrate production from Japan to the USA. This project involved a satellite office branch in Japan and a national printing vendor in Dallas, in addition to the local office in Waikiki. Along with the operations migration, I standardized their production workflow, templating the bulk of the magazine (300+ ads), did product photography and media kits and other collateral. On the production side, I had to review color profiles and printing proofs, ink optimizations, custom printing templates and printer calibration. Eventually, I also interviewed and trained a junior designer. As a result of my efforst, Aloha Street was able to become a monthly publication.
      
      h6 Tools used: InDesign, Illustrator, Photoshop

      a(href="javascript:history.back()")
        h2 &larr;
    section.project--images(data-aos="fade-left" data-aos-once="true")
      div
        img(src='assets/img/work/alohastreet01.png')
