extends _template

block pageSpecificVars
  - var pageTitle = "Aloha Street Magazine"

block content
  article.project--content
    section.project--writeup(data-aos="fade-right" data-aos-once="true")
      h1.text-red.condensed アロハ ストリート Magazine
      h3 2010
      p.condensed Aloha Street was a Japanese tourist quarterly migrating production from Japan to the USA. This involved coordinating with offices in Japan and Waikiki, and a national printing vendor in Dallas. I managed the production in Waikiki, including interviewing and managing a junior designer. I standardized the design workflow, templated over 300 ads, did photography and media kits, handled proofing and prepress, color profiles/calibration, ink optimizations, and more. As a result of my efforts, Aloha Street was able to become a monthly publication.
      
      h6 Tools used: InDesign, Illustrator, Photoshop
      h2 #[a(href="javascript:history.back()") &larr; ]
    section.project--images(data-aos="fade-left" data-aos-once="true")
      div
        img(src='assets/img/work/alohastreet01.png')
