extends _template

block pageSpecificVars
  - var colour = "#D62828"
  - var pageTitle = "アロハストリート Magazine"
  - var pageHeader = "アロハ ストリート Magazine"
  - var timeFrame = "2010"
  - var copyText = "<p>Aloha Street was a Japanese tourist quarterly migrating production from Japan to the USA. This involved coordinating with offices in Japan and Waikiki, and a national printing vendor in Dallas. I managed the production in Waikiki, including interviewing and managing a junior designer. I standardized the design workflow, templated over 300 ads, did photography and media kits, handled proofing and prepress, color profiles/calibration, ink optimizations, and more. As a result of my efforts, Aloha Street was able to become a monthly publication.</p>"
  - var toolsUsed = "InDesign (JP), Illustrator (JP), Photoshop (JP), Automator, Scripting"
  - var customBg = "#EEEEEE"
  - var shownWork = "assets/img/work/alohastreet01.png"

block content
  include _project.pug
