extends _template

block pageSpecificVars
  - var colour = "#F77F00"
  - var pageTitle = "Ambient"
  - var pageHeader = pageTitle
  - var timeFrame = "2015"
  - var copyText = "<p>While working at DTL, I was able to contribute to &lsquo;Ike Hawaii's Ambient brand, producing a style guide and business cards, as well as frontend development. I also did some work on &lsquo;Ike Hawaii's other companies, such as DataHouse, but that's another story.</p>"
  - var toolsUsed = "InDesign, Illustrator, Photoshop, HTML, CSS, Javascript"
  - var customBg = ""
  - var shownWork = "assets/img/work/ambient01.png"

block content
  include _project.pug
