extends _template

block pageSpecificVars
  - var pageTitle = "Astronomy & Astrophysics"

block content
  article.project--content
    section.project--writeup(data-aos="fade-right" data-aos-once="true")
      h1.text-yellow Astronomy & Astrophysics brochure
      h3 2014
      p A multipage mailer for outreach, advertising the astronomy & astrophysics programs at the University of Hawai&lsquo;i at M&amacr;noa, in collaboration with the Institute for Astronomy. 
      
      h6 Tools used: InDesign, Illustrator, Photoshop

      a(href="javascript:history.back()")
        h2 &larr;
    section.project--images(data-aos="fade-left" data-aos-once="true")
      div
        img(src='assets/img/work/astronomy01.png')
