extends _template

block pageSpecificVars
  - var colour = "#FCBF49"
  - var pageTitle = "Astronomy <span style='font-family:Georgia,serif;'>&amp;</span> Astrophysics"
  - var pageHeader = pageTitle
  - var timeFrame = "2014"
  - var copyText = "<p>A multipage brochure mailer for outreach, advertising the newly-established Astronomy & Astrophysics programs at the University of Hawai&lsquo;i at M&amacr;noa, in collaboration with the Institute for Astronomy.</p>"
  - var toolsUsed = "InDesign, Illustrator, Photoshop"
  - var customBg = "#EEEEEE"
  - var shownWork = "assets/img/work/astronomy01.png"

block content
  include _project.pug
