extends _template

block pageSpecificVars
  - var colour = "#FCBF49"
  - var pageTitle = "Astronomy & Astrophysics"
  - var pageHeader = pageTitle
  - var timeFrame = "2014"
  - var copyText = "<p>A multipage mailer for outreach, advertising the astronomy & astrophysics programs at the University of Hawai&lsquo;i at M&amacr;noa, in collaboration with the Institute for Astronomy.</p>"
  - var toolsUsed = "InDesign, Illustrator, Photoshop"
  - var customBg = ""
  - var shownWork = "assets/img/work/astronomy01.png"

block content
  include _project.pug
