extends _template

block pageSpecificVars
  - var pageTitle = "Chaminade Emails"

block content
  article.project--content
    section.project--writeup(data-aos="fade-right" data-aos-once="true")
      h1.text-cham-blue Chaminade Emails
      h3 2017
      p While at Chaminade University, I rolled out their inaugural email communications. After provisioning a Salesforce Marketing Cloud instance, I developed software to facilitate the email development process, as well as designed a myriad of email templates compatible with nearly all email clients.
      p Another thing I did: spearheaded the adoption of Workplace by Facebook internally in an effort to improve cross-departmental collaboration.
      h6 Tools used: MJML + Handlebars + AMPscript, Node.js and libraries (Gulp.js, NodeMailer, et al), HTML, CSS, Litmus API, Google Sheets API v4, Salesforce Marketing Cloud (ExactTarget), Ellucian Colleague (CRM), Raiser’s Edge (CRM), Wordpress, Drupal, Acquia Cloud, InDesign, Photoshop

      a(href="javascript:history.back()")
        h2 &larr;
    section.project--images(data-aos="fade-left" data-aos-once="true")
      div
        img(src='assets/img/work/chaminade01.png')
