extends _template

block pageSpecificVars
  - var colour = "#FCBF49"
  - var pageTitle = "Followgraphic"
  - var pageHeader = pageTitle
  - var timeFrame = "2011, updated 2013, now defunct."
  - var copyText = "<p>Originally an entry into 10K Apart, where developers attempt to create an app in under 10kb. Now defunct, but included purely for nostalgic purposes, as consuming the Twitter API is fairly trivial nowadays. Built for Twitter API v1.0, and then redone for v1.1, where I ported it from JS into PHP because of OAuth requirements.</p><p>The followgraphic app gathered data from the top 20 noteworthies per media category, gleaned from Twitter's suggestions API endpoint. Then it converted the total number of followers into pixels, using 2πr² for accurate visualization.</p>"
  - var toolsUsed = "Coda, Twitter API"
  - var customBg = "#FDD23C"
  - var shownWork = "assets/img/work/followgraphic01.png"

block content
  include _project.pug
