extends _template

block pageSpecificVars
  - var colour = "#D62828"
  - var pageTitle = "Hawaii Business Magazine"
  - var pageHeader = pageTitle
  - var timeFrame = "2010"
  - var copyText = "<p>As contract Associate Art Director, I worked on several issues of Hawaii Business magazine as well as shared ad resources for PacificBasin Communications, LLC, such as HONOLULU Magazine. In addition to magazine page layouts and ads, I was able to art direct photography as well.</p>"
  - var toolsUsed = "InDesign, Illustrator, Photoshop, Lightroom, WordPress"
  - var customBg = ""
  - var shownWork = "assets/img/work/hawaiibiz01.png"

block content
  include _project.pug
