extends _template

block pageSpecificVars
  - var pageTitle = "Hawaii Business Magazine"

block content
  article.project--content
    section.project--writeup(data-aos="fade-right" data-aos-once="true")
      h1.text-red Hawaii Business Magazine
      h3 2010
      p As contract Associate Art Director, I worked on several issues of Hawaii Business magazine as well as shared ad resources for PacificBasin Communications, LLC, such as HONOLULU Magazine. In addition to magazine page layouts and ads, I was able to art direct photography as well.
      
      h6 Tools used: InDesign, Illustrator, Photoshop, Lightroom

      a(href="javascript:history.back()")
        h2 &larr;
    section.project--images(data-aos="fade-left" data-aos-once="true")
      div
        img(src='assets/img/work/hawaiibiz01.png')
