extends _template

block pageSpecificVars
  - var colour = "#F77F00"
  - var pageTitle = "Design for UH M&amacr;noa, Pt. 1"
  - var pageHeader = pageTitle
  - var timeFrame = "2006 - 2014"
  - var copyText = "<p>As I've worked at the University of Hawai&lsquo;i at M&amacr;noa throughout my college career and afterward in multiple different instances, I've collected some of my work done there into a collection.</p>"
  - var toolsUsed = "InDesign, Illustrator, Photoshop, MailChimp, Lightroom, Canon&nbsp;DSLR"
  - var customBg = ""
  - var shownWork = "assets/img/work/honors01.png"

block content
  include _project.pug
