extends _template

block pageSpecificVars
  - var pageTitle = "Design for UH Manoa, Part 1"

block content
  article.project--content
    section.project--writeup(data-aos="fade-right" data-aos-once="true")
      h1.text-orange Design for UH M&amacr;noa, Pt. 1
      h3 2006 - 2014
      p As I've worked at the University of Hawai&lsquo;i at M&amacr;noa throughout my college career and afterward in multiple different instances, I've collected some of my work done there into a collection.
      
      h6 Tools used: InDesign, Illustrator, Photoshop, MailChimp
      h2 #[a(href="javascript:history.back()") &larr; ]
    section.project--images(data-aos="fade-left" data-aos-once="true")
      div
        img.b-lazy(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' data-src='assets/img/work/honors01.png')
