extends _template

block pageSpecificVars
  - var colour = "#52D1DC"
  - var pageTitle = "Ilikai 50th Anniversary"
  - var pageHeader = pageTitle
  - var timeFrame = "2014"
  - var copyText = "<p>As the Ilikai celebrated its 50th year anniversary, I had the opportunity to design the event logo and collateral, from invitations to signage to stationery and retro concepts.</p>"
  - var toolsUsed = "InDesign, Illustrator, Photoshop, LibreOffice"
  - var customBg = ""
  - var shownWork = "assets/img/work/ilikai01.png"

block content
  include _project.pug
