extends _template

block pageSpecificVars
  - var pageTitle = "Ilikai 50th Anniversary"

block content
  article.project--content
    section.project--writeup(data-aos="fade-right" data-aos-once="true")
      h1.text-turquoise Ilikai 50th Anniversary
      h3 2014
      p As the Ilikai celebrated its 50th year anniversary, I had the opportunity to design the event logo and collateral, from invitations to signage to stationery and retro concepts.
      
      h6 Tools used: InDesign, Illustrator, Photoshop
      h2 #[a(href="javascript:history.back()") &larr; ]
    section.project--images(data-aos="fade-left" data-aos-once="true")
      div
        img.b-lazy(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' data-src='assets/img/work/ilikai01.png')
