extends _template
  
block pageSpecificVars
  - var pageTitle = "Home"

block content
  #gridfolio--container
  include _footer.pug
  script(src='assets/js/vendor/gridfolio.js')
  script(src='assets/js/main.js')

