extends _template

block pageSpecificVars
  - var colour = "#000000"
  - var pageTitle = "Logos <span style='font-family:Georgia,serif;'>&amp;</span> &#x03BB;&#x03CC;&#x03B3;&#x03BF;&#x03C2;"
  - var pageHeader = pageTitle
  - var timeFrame = "2005+"
  - var copyText = "<p>Logo work from over the years, collected from various clients: friends, freelancing, fulltime, brainstorming, self-initiated work. Definitely formative to my growth as a designer.</p>"
  - var toolsUsed = "InDesign, Illustrator, Photoshop"
  - var customBg = "#EEEEEE"
  - var shownWork = "assets/img/work/logos01.png"

block content
  include _project.pug