extends _template

block pageSpecificVars
  - var pageTitle = "Logos and &#x03BB;&#x03CC;&#x03B3;&#x03BF;&#x03C2;"

block content
  article.project--content
    section.project--writeup(data-aos="fade-right" data-aos-once="true")
      h1.text-black Logos and &#x03BB;&#x03CC;&#x03B3;&#x03BF;&#x03C2;
      h3 2005+
      p Logo work from over the years, collected from various clients: friends, freelancing, fulltime, brainstorming, self-initiated work. Definitely formative.
      
      h6 Tools used: InDesign, Illustrator, Photoshop
      h2 #[a(href="javascript:history.back()") &larr; ]
    section.project--images(data-aos="fade-left" data-aos-once="true")
      div
        img.b-lazy(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' data-src='assets/img/work/logos01.png')
