extends _template

block pageSpecificVars
  - var pageTitle = "NatSci Annual Reports"

block content
  article.project--content
    section.project--writeup(data-aos="fade-right" data-aos-once="true")
      h1.text-orange NatSci Annual Reports
      h3 2014
      p Part of the unification efforts of the College of Natural Sciences included regular reports to document the efforts and status of the college. These reports were used as outreach tools and communications, and also served as accountability and transparency devices as well. 
      
      h6 Tools used: InDesign, Illustrator, Photoshop

      a(href="javascript:history.back()")
        h2 &larr;
    section.project--images(data-aos="fade-left" data-aos-once="true")
      div
        img(src='assets/img/work/natsci_report01.png')
