extends _template

block pageSpecificVars
  - var pageTitle = "NatSci Posters"

block content
  article.project--content
    section.project--writeup(data-aos="fade-right" data-aos-once="true")
      h1.text-yellow NatSci Posters
      h3 2014
      p As part of loosely federating the brand identities at the College of Natural Sciences, a concept series of department posters was commissioned. The illustrations were sourced from various public domain libraries. 
      
      h6 Tools used: InDesign, Illustrator, Photoshop

      a(href="javascript:history.back()")
        h2 &larr;
    section.project--images(data-aos="fade-left" data-aos-once="true")
      div
        img(src='assets/img/work/natsci_poster01.png')
