extends _template

block pageSpecificVars
  - var colour = "#FCBF49"
  - var pageTitle = "College of NatSci Annual Reports"
  - var pageHeader = pageTitle
  - var timeFrame = "2014"
  - var copyText = "<p>Part of the unification efforts of the College of Natural Sciences at the University of Hawai&lsquo;i at M&amacr;noa included regular reports to document the efforts and status of the college. These reports were used as outreach tools and communications, and also served as accountability and transparency devices as well.</p>"
  - var toolsUsed = "InDesign, Illustrator, Photoshop"
  - var customBg = ""
  - var shownWork = "assets/img/work/natsci_report01.png"

block content
  include _project.pug
