extends _template

block pageSpecificVars
  - var colour = "#F77F00"
  - var pageTitle = "College of NatSci Posters"
  - var pageHeader = pageTitle
  - var timeFrame = "2014"
  - var copyText = "<p>As part of loosely federating the brand identities at the College of Natural Sciences at the University of Hawai&lsquo;i at M&amacr;noa, a concept series of department posters was commissioned. The illustrations were sourced from various public domain libraries.</p>"
  - var toolsUsed = "InDesign, Illustrator, Photoshop"
  - var customBg = ""
  - var shownWork = "assets/img/work/natsci_poster01.png"

block content
  include _project.pug
