extends _template

block pageSpecificVars
  - var pageTitle = "Ancient Artifacts"

block content
  article.project--content
    section.project--writeup(data-aos="fade-right" data-aos-once="true")
      h1.text-orange Ancient Artifacts
      h3 Pre-2010
      p Ancient logo work from seemingly a lifetime ago (and a few extra others). Definitely formative to my development.
      
      h6 Tools used: InDesign, Illustrator, Photoshop

      a(href="javascript:history.back()")
        h2 &larr;
    section.project--images(data-aos="fade-left" data-aos-once="true")
      div
        img(src='assets/img/work/oldwork01.png')
