extends _template

block pageSpecificVars
  - var pageTitle = "Navy Ombudsman"

block content
  article.project--content
    section.project--writeup(data-aos="fade-right" data-aos-once="true")
      h1.text-cham-blue Navy Ombudsman
      h3 2012
      p The Navy holds an annual Ombudsman Appreciation Dinner, which includes the awarding of challenge coins. I had the opportunity to design the event motif, logo and challenge coins, as well as the event collateral, such as dinner tickets, program brochures and more.
      
      h6 Tools used: InDesign, Illustrator, Photoshop

      a(href="javascript:history.back()")
        h2 &larr;
    section.project--images(data-aos="fade-left" data-aos-once="true")
      div
        img(src='assets/img/work/ombudsman01.png')
