extends _template

block pageSpecificVars
  - var colour = "#003399"
  - var pageTitle = "Navy Ombudsman Dinner"
  - var pageHeader = pageTitle
  - var timeFrame = "2012"
  - var copyText = "<p>The Navy holds an annual Ombudsman Appreciation Dinner, which includes the awarding of challenge coins. I had the opportunity to design the event motif, logo and challenge coins, as well as the event collateral, such as dinner tickets, program brochures and more.</p>"
  - var toolsUsed = "InDesign, Illustrator, Photoshop"
  - var customBg = ""
  - var shownWork = "assets/img/work/ombudsman01.png"

block content
  include _project.pug
