extends _template

block pageSpecificVars
  - var pageTitle = "TEDxHonolulu"

block content
  article.project--content
    section.project--writeup(data-aos="fade-right" data-aos-once="true")
      h1.text-red TEDxHonolulu
      h3 2015
      p During DevLeague, I had the opportunity to work on a team of eight, building a full-featured event app for TEDxHonolulu. The app featured a backend CMS to populate with event listings and information, and the frontend was created with Angular, utilizing Ionic to become mobile-friendly, as the event patrons were likely to be mobile.
      
      h6 Tools used: MEAN stack (MongoDB, AngularJS v1.3, ExpressJS, Node.js), Ionic, Gulp.js, Jade/Pug (HTML5), Sass (CSS3), Mongoose ORM, et al.

      a(href="javascript:history.back()")
        h2 &larr;
    section.project--images(data-aos="fade-left" data-aos-once="true")
      div
        img(src='assets/img/work/tedx01.png')
