extends _template

block pageSpecificVars
  - var colour = "#D62828"
  - var pageTitle = "TEDxHonolulu"
  - var pageHeader = pageTitle
  - var timeFrame = "2015"
  - var copyText = "<p>During DevLeague, I had the opportunity to work on a team of eight, building a full-featured event app for TEDxHonolulu. The app featured a backend CMS to populate with event listings and information, and the frontend was a Single Page Application (SPA) created with Angular v1.3, utilizing the Ionic framework to become mobile-friendly, as the event patrons would likely be using the app on the move.</p>"
  - var toolsUsed = "MEAN stack (MongoDB, AngularJS v1.3, ExpressJS, Node.js), Ionic, Gulp.js, Jade/Pug (HTML5), Sass (CSS3), Mongoose ORM, et al"
  - var customBg = "#FFFFFF"
  - var shownWork = "assets/img/work/tedx01.png"

block content
  include _project.pug
